
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
	
		<div class="container" >
			
			<div class="row text">
				<h1 class="lead">PROTECTING CONSUMERS AND MANUFACTURERS</h1>
				<h4 class="tagline">Drugs are supposed to heal not to kill</h4>
				<p><!-- <a class="btn btn-default btn-lg" role="button">MORE INFO</a> --> <%= link_to 'CHECK-IT',welcome_check_path, class: "btn btn-action btn-lg checkit" %></p>
				
			</div>
			<div id="header-text" class="col-lg-12">
               <p></p>
			</div>
			
			<div id="head-move" class="col-lg-12">
               <p></p>
			</div>

		</div>	
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">The power is in your hands</h2>
		<h4 class="text-muted">
			CHECK-IT allows drug manufacturers to protect their brand against counterfieters whiles protecting their consumers		</h4>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">WHY CHECK-IT?</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>How it works</h4></div>
					<div class=" h-body text-center">
						<p class="space">CHECK-IT offers a mobile solution to drug authentication. The consumer scratches of a hidden code on the drug package and then verifies the originality of the drug by using our online system, SMS or mobile application.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Brand Protection</h4></div>
					<div class="h-body text-center">
						<p class="space">Manufacturers can protect their brand against counterfieters. Using CHECK IT you are assured of tapping into your available market; dont share your market.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Customer Retention</h4></div>
					<div class="h-body text-center">
						<p class="space">Retain your customers by using content marketting and promotional rewards. Make your customers fall in love with you.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-globe fa-5"></i>Geo-Analytics</h4></div>
					<div class="h-body text-center">
						<p class="space">We dont just offer analytics we provide Geo-Analytics. Our analytics have a geographic dimension which allows you to better understand product market performance in a particular geographic region and locality. With our anaytics you can answer the question, WHERE?</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Our Partners</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div> <!-- /row -->

		<h2 class="text-center top-space">Our Clients</h2>
		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>

		<div class="jumbotron top-space">
			<h4>
			The global counterfeit market was worth $57.4 billion in 2013 which is forecasted to generate revenue of $142.7 billion by 2020, Pharmaceutical companies experienced a loss of approximately $514 billion in the year 2012 This revenue loss is mainly due to counterfeiting activities for non-prescribed drug. <br> Counterfeited drugs is a great challenge in developing countries and especially Africa. At CHECK IT we seek to fight this menace with a bottom-up approah by putting the power in the hands of the consumers whiles helping manufacturers protect their brand.<br>
			<small><b>Counterfeiters use the reputation of a trademark, which brand manufacturers have built up on the basis of the quality of their products, to fool consumers about the true origin and quality of the goods.</small></b> </h4>
     		<p class="text-right"><a class="btn btn-primary btn-large">Learn more »</a></p>
  		</div>

</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->
    

	